.password_input {
  padding-left: 40px;
  background-image: url("../images/key.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 10px center;
}

.confirm_password_input {
  padding-left: 40px;
  background-image: url("../images/key_solid.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 10px center;
}
